#navbar {
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px solid white;
  position: fixed;
  width: 100%;
  background-color: #b58fff;
}

.btnNavbar {
  border-bottom: 2px solid #63b1bc;
}

.logo {
  height: 80px;
}

